<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link
          href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>회원 관리</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='/index.html'|"
                    page.users>홈으로</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>핸드폰번호</th>
                <th>주소</th>
                <th>포인트</th>
            </tr>
            </thead>
            <tr th:each="item : ${items}">
                <td><a href="item.html" th:href="@{|/validation/v3/${item.id}/edit|}" th:text="${item.id}">회원ID</a></td>
                <td th:text="${item.name}">상품명</td>
                <td th:text="${item.phone}">000-0000-0000</td>
                <td th:text="${item.address}">대전시</td>
                <td th:text="${item.point}">대전시</td>
            </tr>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>